
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap");
html{
  width: 100%;
  height: 100%;
}

body{
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Plus Jakarta Sans", sans-serif;
  color:hsl(224, 21%, 14%) ;

}


#root{
 
padding: 2rem;
margin: 0 auto;
max-width: 1200px;
line-height: 1.5;
display: flex;
flex-direction: column;
justify-content: center;
}
 

